{% extends "maps/base.html" %}
{% load static %}

{% block content %}
<html xmlns="http://www.w3.org/1999/xhtml"></html>
<div class="form-container">
    <div class="pais-inp">
        <p>Digite o país que gostaria de visitar</p>   
        <form>
            <input class="pais" type="text" name="pais" onkeydown="return /[a-z, ]/i.test(event.key)">                      
            <input class="open-button" type="submit" value="Calcular" onclick="openForm()">
            {% csrf_token %}
        </form>
    </div>
    
    <div class="form-popup" id="myForm">
      <form action="/action_page.php" class="form-container1">
        <h1 class="tp">Você poderá viajar em...</h1>
        <div>
            <p class="resultado">{{ resultado }} meses</p>
        </div>
        <button type="button" class="btn1 cancel" onclick="closeForm()">Fechar</button>
      </form>
    </div>
    
    <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }
    
    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
    </script>    
</div>



<div>
    <p>vac_propria =  {{ vac_propria }}</p>
</div>
<div>
    <p>vac_pais =  {{ vac_pais }}</p>
</div>
<div>
    <p>disponibilidade_quarentena =  {{ disponibilidade_quarentena }}</p>
</div>
<div>
    <p>continente =  {{ continente }}</p>
</div>
<div>
    <p>idade =  {{ idade }}</p>
</div>


{% endblock %}


vac_propria = request.POST.get('resp_1')[0]
vac_pais = request.POST.get('resp_2')[0]
disponibilidade_quarentena = request.POST.get('resp_3')[0]
continente = request.POST.get('resp_4')[0]
idade = request.POST.get('resp_5')[0]